{%- macro initial_cluster() -%}
{%- for host in groups['etcd'] -%}
  {{ hostvars[host]['ansible_hostname'] }}=http://{{ hostvars[host]['ip'] }}:2380
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

[Unit]
 Description=etcd
 Documentation=https://github.com/coreos/etcd
 Conflicts=etcd.service
 Conflicts=etcd2.service

 [Service]
 EnvironmentFile=/etc/etcd.env
 Type=notify
 Restart=always
 RestartSec=5s
 LimitNOFILE=40000
 TimeoutStartSec=0

 ExecStart=/usr/local/bin/etcd --name {{ ansible_hostname }}        \
    --data-dir /var/lib/etcd                                        \
    --listen-client-urls http://{{ ip }}:2379,http://127.0.0.1:2379 \
    --advertise-client-urls http://{{ ip }}:2379                    \
    --listen-peer-urls http://{{ ip }}:2380                         \
    --initial-advertise-peer-urls http://{{ ip }}:2380              \
    --initial-cluster {{ initial_cluster() }}                       \
    --initial-cluster-state new                                     \
    --initial-cluster-token etcd-cluster-1

 [Install]
 WantedBy=multi-user.target
